
    <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
              {{adminData.adminname.username}}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/admin/login">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
            </a>
          </div>
        </div> 
      </div>